# **Курс "Програмування на мові Python"**

## **Практичне зайняття №7**

### Тема: "Робота з рядками. Глибокі копії об'єктів."

### **Завдання 1 (3 бали)**

Напишіть програму, яка за вхідими даними, наведеними у прикладі, буде виводити форматовану таблицю наступного виглядну:
```
| Post code | Cost, thousands USD |  Country  |    City    |       Street       | Build. | App. |            Date            |
|-----------+---------------------+-----------+------------+--------------------+--------+------+----------------------------|
| 33022     |               0.543 | USA       | New York   | 53rd street        |     44 |  345 | 2020-01-30T11:45:33.654357 |
| 33145     |            9563.214 | UK        | London     | 45 yard av.        |      3 |  210 | 1985-04-02T22:45:45.045385 |
| 33658     |              85.543 | Australia | Sidney     | Cristmess eve str. |    253 |    3 | 2010-10-10T10:00:00.000000 |
| 33854     |               0.010 | Ukraine   | Lutsk      | Soborna str.       |     10 | 5342 | 2008-02-28T23:33:33.000000 |
| 33698     |         1000000.000 | USA       | Washington | Columbia str.      |     25 |  222 | 2021-09-29T07:34:01.000143 |
``` 
На що тут варто звернути увагі:
- Імена колонок - вирівнювання по центру. Частина колонок із даними мають витрівнювання по лівому краю, інша частина - по правому.
- Дотримуйтесь точності відображення таблиці із тим що наведено у прикладі (стосується ширини колонок, всюди є додатковий пробіл щоб дані не прилягали щільно до лінії розмежування колонок).
- Дата виведена у так званому ISO форматі (Python має свою підримку цього формату - вам не обов'язково треба своїми руками описувати цей формат, достатньо - загуглити, **бонус +0.5**).
- Підказка - дану таблицю можна вивести суто із використанням f-нотації форматованого рядка, **бонус +0.5**.
- Зверніть увагу на те, що долари у таблиці відображаються у тисячах. Врахуйте це під час виведення.
- Для кращої читаємості кожен кортеж можна розкрити відразу у змінні наступним чином:
```
for line in data:
    (post_code, cost, country, city, street, build, app, dt) = line
    # print(post_code)
```

In [6]:
from datetime import datetime

data = [
    (33022, 543.67, 'USA', 'New York', '53rd street', 44, 345, datetime(2020, 1, 30, 11, 45, 33, 654357)),
    (33145, 9563.214, 'UK', 'London', '45 yard av.', 3, 210, datetime(1985, 4, 2, 22, 45, 45, 45385)),
    (33658, 85.543, 'Australia', 'Sidney', 'Cristmess eve str.', 253, 3, datetime(2010, 10, 10, 0, 0, 0)),
    (33854, 0.010, 'Ukraine', 'Lutsk', 'Soborna str.', 10, 5342, datetime(2008, 8, 28, 23, 33, 33)),
    (33698, 1000000.00, 'USA', 'Washington', 'Columbia str.', 25, 222, datetime(2021, 9, 29, 7, 34, 1, 143)),
]

headers = ["Post code", "Cost, thousands USD", "Country", "City", "Street", "Build.", "App.", "Date"]

header_row = "| {:^8} | {:^19} | {:^10} | {:^12} | {:^20} | {:^6} | {:^6} | {:^26} |".format(*headers)
separator = "+" + "-"*10 + "+" + "-"*21 + "+" + "-"*12 + "+" + "-"*14 + "+" + "-"*22 + "+" + "-"*8 + "+" + "-"*8 + "+" + "-"*28 + "+"

print(separator)
print(header_row)
print(separator)

for line in data:
    post_code, cost, country, city, street, build, app, dt = line
    row = "| {:<8} | {:>19.3f} | {:<10} | {:<12} | {:<20} | {:>6} | {:>6} | {:<26} |".format(
        post_code, cost, country, city, street, build, app, dt.isoformat()
    )
    print(row)
    print(separator)

+----------+---------------------+------------+--------------+----------------------+--------+--------+----------------------------+
| Post code | Cost, thousands USD |  Country   |     City     |        Street        | Build. |  App.  |            Date            |
+----------+---------------------+------------+--------------+----------------------+--------+--------+----------------------------+
| 33022    |             543.670 | USA        | New York     | 53rd street          |     44 |    345 | 2020-01-30T11:45:33.654357 |
+----------+---------------------+------------+--------------+----------------------+--------+--------+----------------------------+
| 33145    |            9563.214 | UK         | London       | 45 yard av.          |      3 |    210 | 1985-04-02T22:45:45.045385 |
+----------+---------------------+------------+--------------+----------------------+--------+--------+----------------------------+
| 33658    |              85.543 | Australia  | Sidney       | Cristmess eve str.   |    253 |      3 | 2010-10-10T00:00:00        |
+----------+---------------------+------------+--------------+----------------------+--------+--------+----------------------------+
| 33854    |               0.010 | Ukraine    | Lutsk        | Soborna str.         |     10 |   5342 | 2008-08-28T23:33:33        |
+----------+---------------------+------------+--------------+----------------------+--------+--------+----------------------------+
| 33698    |         1000000.000 | USA        | Washington   | Columbia str.        |     25 |    222 | 2021-09-29T07:34:01.000143 |
+----------+---------------------+------------+--------------+----------------------+--------+--------+----------------------------+